* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: url('../images/image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.navigation {
    text-align: center;
    padding: 20px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 23px;
}

.banner {
    color: #fff;
    margin-left: 640px;
    padding: 100px 0;
}

.banner h2 {
    font-size: 50px;
    padding: 30px 0 0 0;
}

.getStartedButton {
    background-color: orange;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
}

.cards {
    text-align: center;
    margin: 20px 0;
}

.card {
    background-color: #ddd;
    width: 400px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin: 0 20px;
}

.card p {
    text-align: justify;
}

.card a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}
/* test */