header {
  background-color: #173d7a;
  padding: 25px;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      color: white;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      font-weight: bold;

      a {
        color: #fff;
        text-decoration: none;
      }
    }

    .links {
      .link {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        margin-left: 20px;
      }

      .active {
        background-color: red;
      }
    }
  }
}
